* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* more on this crazy alphanumerical value in a minute! */
  color: #39a6b2;
  font-family: Helvetica, Arial, sans-serif;
}

/* apply styles to <header> */
header {
  padding: 20px 35px;
  background-color: grey;
}

header h1 {
  font-weight: bold;
  font-size: 36px;
  color: grey;
  margin: 0;
  display: inline;
}
header a {
  text-decoration: none;
  color: whitesmoke;
}

header nav {
  float: right;
  margin: 7px 0;
}

header nav ul li {
  display: inline;
}

header nav ul li a {
  margin: 0 30px;
  font-weight: lighter;
  font-size: 22px;
  text-decoration: underline;
}


/* Hero Style Start */
.hero {
  background-image: url('../images/hero-background.jpg');
  height: 300px;
  background-size: cover;
  background-position: center;
  position: relative;
}

.hero Img {
  border-radius: 50%;
  padding: 8px;
  height: 260px;
  width: 260px;
  position: relative; top: -40px;
}

.hero-form {
  padding: 18px;
  width: 400px;
  color: white;
  position: absolute;
  bottom: 1px;
  right: 40px;
}
.hero-form {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  width: 100%;
}

.hero-form h2 {
  padding: 30px;
  margin: 0px;
  color:white;
  font-family:cursive;
  font-weight: 650;
  font-size: 22px;
}
/* Hero Style End */


/*about me section*/
.intro {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  margin: 20px 10px 10px 10px;
}

.intro-p {
  width: 80%;
  margin: 40px;
  color:black;
  padding: 5px;
  font-size: 26px;
  line-height: 1.4;
}

.primary-title {
  width: 10%;
  margin:10px 10px 10px 40px;
  border-right: solid red 4px;
  text-align: right;
  font-weight: 700;
  font-size: 50px;
  text-align: right;
  color:red;
  padding: 5px;
}

/* work section*/
.steps {
  text-align: center;
}

.steps div {
  margin-bottom: 80px;
}

.steps img {
  width: 15%;
  margin: 10px 0;
}

.steps h3 {
  color: white;
  font-size: 46px;
  margin-top: 10px;
}

.steps p {
  color: white;
  font-size: 23px;
}

.steps span {
  font-size: 38px;
}

.surfer {
  width: 100%;
  background-image: url('../images/sky-puzzel.jpg');
  background-repeat: no-repeat;
  height: 400px;
  width: 900px;
  background-size: cover;
  background-position: center;
  position: relative;
}

.two-surfer{
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.led-wall {
  width: 45%;
  background-image: url('../images/led-wall.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.calculator {
  width: 45%;
  background-image: url('../images/codinglearn.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.pastel-puzzels{
  width: 45%;
  background-image: url('../images/sky-puzzel.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.run-buddy {
  width: 45%;
  background-image: url('../images/Screenshot\ \(22\).png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}



/*Footer start*/
footer {
  width: 100%;
  padding: 40px 35px;
}

footer h2 {
  display: inline;
  color: #024e76;
  font-size: 30px;
  margin: 0;
}

footer div {
  float: right;
  line-height: 1.5;
  text-align: right;
}

footer a {
  color: #024e76;
}

section {
  padding: 60px;
}



/* REACH OUT STYLES END */
